.raspored{
    text-align: center;
    color:#b21171;
    font-size:22px;
}
.kontakt_hvala{
    color:#b21171;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    /*text-decoration-line: underline;*/
    
}